@charset "UTF-8";

body {
	background-color: ghostwhite;
<<<<<<< HEAD
}

h1 {
	color: dodgerblue;
}

p {
	color: deeppink;
}
=======
     }

h1 {
	color: dodgerblue;
   }

p {
	color: deeppink;
  }
>>>>>>> refs/remotes/origin/master
